<% 
city = params["city"]
require 'open-uri'
require 'json'

location = city
location = URI.escape(location)
json_data = open("http://api.openweathermap.org/data/2.5/weather?q=#{location}&units=imperial").read
data = JSON.parse(json_data)
valid = true
if(data['main'])
	temp = data['main']['temp']
	description = data['weather'][0]['description']
else
	valid = false
end	
%>

<% if valid == true %>
<h1>Current Weather Conditions</h1>
<p>It is currently <%=temp%> degrees in <%=city%> and has <%=description.downcase%>.</p>
<% else %>
<h1>Current Weather Conditions</h1>
<p>Invalid city and state. Please <%= link_to "return to the weather machine", '/weather' %> and enter a new city.</p>
<% end %>