<h1>Contact Form</h1>
<form action="/contact_submitted">
	<br>
  	<input name="fname" type="text" placeholder="Enter first name.">
  	<input name="lname" type="text" placeholder="Enter last name.">
  	<br><br>
  	<input type="submit">
</form>